ErrorDocument 404 https://wayshk.ngt.hk/W-Wayshk/404.php

RewriteEngine on

RewriteRule ^Sign-Up sign-up.php [NE,L]

RewriteRule ^Forgot forgot.php [NE,L]

RewriteRule ^Login login.php [NE,L]

RewriteRule ^Logout logout.php [NE,L]

RewriteRule ^Home index.php [NE,L]

RewriteRule ^About-Us-EN en_about_us.php [NE,L]

RewriteRule ^About-Us about-us.php [NE,L]

RewriteRule ^Living-Seeds-Children-EN en_living-seeds-children.php [NE,L]

RewriteRule ^Living-Seeds-Children living-seeds-children.php [NE,L]

RewriteRule ^Textbook-Download-EN en_occupational-therapy-courses.php [NE,L]

RewriteRule ^Textbook-Download occupational-therapy-courses.php [NE,L]

RewriteRule ^Order-EN en_order.php [NE,L]

RewriteRule ^Order order.php [NE,L]

RewriteRule ^Product-Details product_details.php [NE,L]

RewriteRule ^Institution-EN en_purchasing-service.php [NE,L]

RewriteRule ^Institution purchasing-service.php [NE,L]

RewriteRule ^Shop shop.php [NE,L]

RewriteRule ^Cart cart.php [NE,L]

RewriteRule ^Checkout checkout.php [NE,L]

RewriteRule ^Payment payment.php [NE,L]

RewriteRule ^1-Course-EN en_course_details.php [NE,L]

RewriteRule ^1-Course course_details.php [NE,L]

RewriteRule ^2-Course-EN en_second_course_details.php [NE,L]

RewriteRule ^2-Course second_course_details.php [NE,L]

RewriteRule ^Membership-Program-EN en_membership.php [NE,L]

RewriteRule ^Membership-Program membership.php [NE,L]

RewriteRule ^Wish-List whitelist.php [NE,L]

RewriteRule ^Course course.php [NE,L]

RewriteRule ^Course-Details course_details.php [NE,L]

RewriteRule ^Search-Result search_result.php [NE,L]